.image {
  max-width: 100%;
  height: auto;
}
.single_blog_item {
  background-color: #fff;
  /* border: 1px solid #e8e8e8; */
  border-top: none;
  padding: 30px;
  position: relative;
  margin-bottom: 30px;
}
.date {
  position: absolute;
  top: -40px;
  right: 10px;
  margin-bottom: 0;
  text-align: center;
  background-color: #e4045e;
  padding: 8px;
}
.date li {
  list-style-type: none;
  color: #fff;
  font-size: 12px;
}
.card_container:hover .title {
  color: #f20791;
  background-color: #fff;
}
.card_container button {
  border: none;
  background: #f20791;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.5s;
  border: 1px solid #f20791;
}
.card_container:hover button {
  color: #f20791;
  background-color: #fff;
  border: 1px solid #f20791;
}
