.subscription_content {
  text-align: left;
}
.subscription_content h2 {
  color: #202647;
  margin-bottom: 14px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 24px;
}
.subscription_content span {
  color: #6a75b3;
  display: block;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 400;
}
.form {
}
.form input {
  padding: 15px 25px;
  width: 50%;
  border: none;
}
.form input:focus {
  outline: none;
}
.form button {
  border: none;
  padding: 15px 25px;
  border-radius: 5px;
  background-color: #f20791;
  color: #fff;
}
